@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container mt-5">
    <h1 class="text-center text-danger">An Error Occurred</h1>
    <p class="text-center">We're sorry, but something went wrong. Please try again later.</p>
</div>
v>