<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Antlr3.Runtime" version="3.5.1" targetFramework="net48" />
  <package id="Azure.AI.OpenAI" version="1.0.0-beta.9" targetFramework="net48" />
  <package id="Azure.AI.Translation.Document" version="2.0.0" targetFramework="net48" />
  <package id="Azure.AI.Translation.Text" version="1.0.0" targetFramework="net48" />
  <package id="Azure.Core" version="1.44.1" targetFramework="net48" />
  <package id="Azure.Data.Tables" version="12.9.0" targetFramework="net48" />
  <package id="Azure.Identity" version="1.11.0" targetFramework="net48" />
  <package id="Azure.Storage.Blobs" version="12.20.0" targetFramework="net48" />
  <package id="Azure.Storage.Common" version="12.22.0" targetFramework="net48" />
  <package id="Azure.Storage.Files.Shares" version="12.18.0" targetFramework="net48" />
  <package id="Azure.Storage.Queues" version="12.18.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Mvc" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.Razor" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Client" version="6.0.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebApi.WebHost" version="5.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNet.WebPages" version="3.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Antiforgery" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authentication.Core" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Authorization.Policy" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Cryptography.Internal" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.DataProtection.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Diagnostics.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Hosting.Server.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Html.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Extensions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Http.Features" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.JsonPatch" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Core" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.DataAnnotations" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.Formatters.Json" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Mvc.ViewFeatures" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.ResponseCaching.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.Routing.Abstractions" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.AspNetCore.WebUtilities" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.Azure.Cosmos" version="3.46.1" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.Core" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Azure.KeyVault.WebKey" version="3.0.5" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.AppService.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.BatchAI.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Cdn.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Compute.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.ContainerInstance.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.ContainerRegistry.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.ContainerService.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.CosmosDB.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Dns.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.EventHub.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Graph.RBAC.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.KeyVault.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Locks.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Monitor.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Msi.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Network.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.PrivateDns.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Redis.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.ResourceManager.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Search.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.ServiceBus.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Sql.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.Storage.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Azure.Management.TrafficManager.Fluent" version="1.38.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Bcl.HashCode" version="1.1.0" targetFramework="net48" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net48" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.Base" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.Configuration.ConfigurationBuilders.UserSecrets" version="3.0.0" targetFramework="net48" />
  <package id="Microsoft.CSharp" version="4.5.0" targetFramework="net48" />
  <package id="Microsoft.DotNet.PlatformAbstractions" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Azure" version="1.7.3" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Configuration.Binder" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyInjection.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.DependencyModel" version="2.1.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Diagnostics.Abstractions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.FileProviders.Abstractions" version="8.0.0" targetFramework="net48" />
  <package id="Microsoft.Extensions.Hosting.Abstractions" version="8.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization" version="8.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Localization.Abstractions" version="8.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Logging.Abstractions" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.ObjectPool" version="8.0.11" targetFramework="net48" />
  <package id="Microsoft.Extensions.Options" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.Primitives" version="9.0.1" targetFramework="net48" />
  <package id="Microsoft.Extensions.WebEncoders" version="8.0.11" targetFramework="net48" />
  <package id="Microsoft.Identity.Client" version="4.60.1" targetFramework="net48" />
  <package id="Microsoft.Identity.Client.Extensions.Msal" version="4.60.1" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Abstractions" version="6.35.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="4.3.0" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Logging" version="1.1.2" targetFramework="net48" />
  <package id="Microsoft.IdentityModel.Tokens" version="5.1.2" targetFramework="net48" />
  <package id="Microsoft.Net.Compilers" version="2.10.0" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.Net.Http.Headers" version="2.3.0" targetFramework="net48" />
  <package id="Microsoft.Owin" version="4.2.2" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime" version="2.3.24" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure" version="3.3.19" targetFramework="net48" />
  <package id="Microsoft.Rest.ClientRuntime.Azure.Authentication" version="2.4.1" targetFramework="net48" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0" targetFramework="net48" />
  <package id="Microsoft.Win32.Registry" version="4.5.0" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.3" targetFramework="net48" />
  <package id="Newtonsoft.Json.Bson" version="1.0.3" targetFramework="net48" />
  <package id="NLog" version="5.3.4" targetFramework="net48" />
  <package id="Owin" version="1.0.0" targetFramework="net48" />
  <package id="RestSharp" version="112.1.0" targetFramework="net48" />
  <package id="System.Buffers" version="4.6.0" targetFramework="net48" />
  <package id="System.ClientModel" version="1.2.1" targetFramework="net48" />
  <package id="System.Collections.Immutable" version="1.7.0" targetFramework="net48" />
  <package id="System.ComponentModel.Annotations" version="5.0.0" targetFramework="net48" />
  <package id="System.Configuration.ConfigurationManager" version="6.0.0" targetFramework="net48" />
  <package id="System.Diagnostics.DiagnosticSource" version="9.0.1" targetFramework="net48" />
  <package id="System.IO" version="4.3.0" targetFramework="net48" />
  <package id="System.IO.FileSystem.AccessControl" version="5.0.0" targetFramework="net48" />
  <package id="System.IO.Hashing" version="6.0.2" targetFramework="net48" />
  <package id="System.IO.Pipelines" version="9.0.1" targetFramework="net48" />
  <package id="System.Memory" version="4.6.0" targetFramework="net48" />
  <package id="System.Memory.Data" version="6.0.1" targetFramework="net48" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.6.0" targetFramework="net48" />
  <package id="System.Runtime" version="4.3.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="6.1.0" targetFramework="net48" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.AccessControl" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net48" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.ProtectedData" version="4.7.0" targetFramework="net48" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net48" />
  <package id="System.Security.Cryptography.Xml" version="8.0.2" targetFramework="net48" />
  <package id="System.Security.Permissions" version="6.0.0" targetFramework="net48" />
  <package id="System.Security.Principal.Windows" version="5.0.0" targetFramework="net48" />
  <package id="System.Text.Encodings.Web" version="9.0.1" targetFramework="net48" />
  <package id="System.Text.Json" version="9.0.1" targetFramework="net48" />
  <package id="System.Text.RegularExpressions" version="4.3.1" targetFramework="net48" />
  <package id="System.Threading.Tasks.Extensions" version="4.6.0" targetFramework="net48" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net48" />
  <package id="Unity" version="5.11.10" targetFramework="net48" />
  <package id="Unity.Abstractions" version="5.11.7" targetFramework="net48" />
  <package id="Unity.AspNet.WebApi" version="5.11.2" targetFramework="net48" />
  <package id="Unity.Container" version="5.11.11" targetFramework="net48" />
  <package id="WebActivatorEx" version="2.2.0" targetFramework="net48" />
  <package id="WindowsAzure.Storage" version="9.3.3" targetFramework="net48" />
</packages>