<?xml version="1.0" encoding="utf-8"?>
<packages>
  // ...existing code...
  <package id="System.Runtime" version="6.0.0" targetFramework="net472" />
  <package id="System.Web.WebPages" version="3.2.9" targetFramework="net472" />
  <package id="System.Web.WebPages.Deployment" version="3.2.9" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net462" />
  <package id="System.Text.Json" version="9.0.1" targetFramework="net472" />
  // ...existing code...
</packages>
